* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 7);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.linha__vertical {
    width: 50px;
    height: 250px;
    background-color: #b20710;
    position: relative;
}

.linha__vertical::before {
    content: " ";
    width: 50px;
    height: 250px;
    background-color: #b20710;
    position: absolute;
    left: 90px;
}

.linha__vertical::after {
    content: " ";
    width: 175px;
    height: 20px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    left: -15px;
    border-radius: 50%;
}

.linha__transverssal {
    width: 50px;
    height: 250px;
    background-color: #e50914;
    position: absolute;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px black;
}